<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h3>Queremos Ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5> <email endereco="will@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5> (00) 0000-0000 </h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5> Av Do Lanche 500 </h5>
        </p>
    </div>
</div>