@model HomeViewModel

<partial name ="_Carousel"/>

<br />
<h2>Os Preferidos da Semana</h2>
<h4>Ta com Fome??</h4>

<div class="row">
    @foreach(var lanche in Model.LanchesPrefeiros)
    {
        <partial name="_LanchesResumo" for="@lanche"/>
    }
</div>